html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

p {
  line-height: 1.8;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
  text-decoration: none;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

header {
  background-color: #ce5230;
  width: 100%;
  height: 84px;
  margin: 0 auto;
}

header h2 {
  padding: 25px;
  float: left;
  color: #fff;
}

header ul#top {
  display: flex;
  padding: 30px;
  text-decoration: none;
  float: right;
}

header nav ul li {
  margin-right: 20px;
  text-align: center;
  justify-content: space-around;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #ce5230;
  color: #fff;
  display: flex;
  font-family: "Comic Sans MS";
  padding: 10px 20px;
}

footer p {
  font-size: 15px;
}

.footer-left {
  padding-left: 20px;
}

.copy-right {
  font-size: 13px;
}

.footer-right {
  margin-left: auto;
  margin-right: 150px;
  font-weight: bold;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.content {
  border-bottom: 5px solid gray;
  background-color: #dad2c5;
  padding: 50px;
}

.top {
  background-color: #ce5230;
}

.top img {
  width: 35%;
  margin-left: 33%;
}

.top p {
  font-family: "Comic Sans MS";
  color: aqua;
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
}

.about-me {
  display: flex;
}

.about-me-left {
  margin-left: 90px;
  margin-right: 90px;
}

.about-me img {
  width: 550px;
}

.about-me h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #2c3e50;
}

.profile {
  margin: 30px;
  border: 4px solid #807f7d;
  background: #ce5230;
  color: #fff;
  padding: 30px;
  line-height: 2;
}

.profile th {
  width: 110px;
}

.interest {
  display: flex;
  padding: 50px;
}

.self-introduction {
  width: 33%;
  padding: 0 20px;
  text-align: center;
}

.self-introduction img {
  width: 300px;
}

.self-introduction h3 {
  color: #ce5230;
  font-size: 50px;
  text-align: center;
}

.career {
  display: flex;
}

.career h2 {
  font-size: 30px;
  color: #2c3e50;
  font-weight: 500;
}

.time-line {
  background-image: url(/img/time-tree.e774d4e.png);
  background-size: 750px 750px;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 800px;
  width: 600px;
  position: relative;
}

.high-school {
  position: absolute;
  left: 50%;
  top: 77px;
  color: #fe5e6f;
  margin-left: -200px;
}

.univercity {
  position: absolute;
  left: 50%;
  top: 240px;
  color: #08a68e;
  margin-left: 120px;
}

.job {
  position: absolute;
  left: 50%;
  top: 420px;
  color: #93b7c8;
  margin-left: -200px;
}

.ratrun-school {
  position: absolute;
  left: 50%;
  top: 600px;
  color: #285b6d;
  margin-left: 120px;
}

.career-img img {
  display: block;
  width: 300px;
  padding: 50px;
}
